body {
    padding-top: 50px;
}

.title {
    min-height: 85vh;
    background-image: url("../assets/home.jpg");
    background-size: cover;
    background-position: center;
}



.text-shadow {
    text-shadow: 0 3px 7px rgba(0,0,0,0.7);
}













