body {
    padding-top: 0px;
}

.title {
    min-height: 85vh;
    background-image: url("../assets/home.jpg");
    background-size: cover;
    background-position: center;
}



.text-shadow {
    text-shadow: 0 3px 7px rgba(0,0,0,0.7);
}

#preloader {
    position: fixed;
    inset: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


.loader-box {
    text-align: center;
    animation: fadeIn 2s ease;
}


.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top-color: rgb(21, 129, 191); 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}













